<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <div class="alert alert-danger" role="alert">


    <span aria-hidden="true" data-dismiss="alert">&times;</span>
</div> -->

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errormessage">
    {{errormessage}}
    <!-- <button type="button" class="close btn" data-dismiss="alert" aria-label="Close">
      <b> <span aria-hidden="true">&times;</span></b>  
    </button> -->
</div>
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successmessage">
    {{successmessage}}
    <!-- <button type="button" class="close btn" data-dismiss="alert" aria-label="Close">
      <b> <span aria-hidden="true">&times;</span></b>  
    </button> -->
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />